﻿<div>This is Sample Rendering</div>
<div>
    <h1 class="contentTitle">
        @Html.Sitecore().Field("title")
    </h1>
    <div class="contentDescription">
        @Html.Sitecore().Field("text")
    </div>
</div>